<div style="text-align: justify;">
    <b>Contact</b><br/>
    <br/>
    <img src="https://scontent-grt2-1.xx.fbcdn.net/v/t1.0-1/p160x160/14222185_10153976791982810_2976284531461849772_n.jpg?oh=b1f53fddbdf5081db9db0135bef20e0b&oe=58C615B9" class="forceLeft" style="margin-right: 1rem;" />
    <b>Vinas de Andrade</b><br/>
    <a href="http://facebook.com/vinas.andrade">Facebook</a><br/>
    <a href="https://github.com/vinas" target="_blank">Github</a><br/>
    vinas.andrade@gmail.com<br/>
    <br/><br/>
    <img src="img/saci01.jpg" class="forceRight" />
</div>